@keyframes IMocUpChange {
  5% {
    background: url('../Img/4716_large.jpeg') no-repeat;
  }
  10% {
    background: url('../Img/il_340x270.2561483103_1i5q.jpg') no-repeat;
  }
  20% {
    background: url('../Img/s-l300.jpg') no-repeat;
  }
  50% {
    background: url('../Img/PdCfw7a_kTnpZmM_6adzghVglzMhoJXLLWCTPydmkzkrJg.jpg') no-repeat;
  }
}
